node_modules/
build/
dist/
coverage/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Env files (keep example)
.env*
!.env.example

# Logs
*.log
npm-debug.log*

# TypeScript cache
*.tsbuildinfo
